<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link href="../../assets/css/site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="../../assets/js/main.js"></script>
	<meta charset="utf-8" />
</head>
<body>
    <div class="main-wrapper">
        <div class="login-wrapper">
            <div class="login-image">
                <img src="../../assets/img/LoginRed.png" alt="Login Image" />
            </div>
            <div class="clear"></div>
            <div class="input-row">
                <label>Login</label>
                <input type="text" class="txt-input" id="txtUsername" />
                <div class="forget-link"><a href="#">Forget username</a></div>
            </div>
            <div class="input-row">
                <label>Password</label>
                <input type="password" class="txt-input" id="txtPassword" />
                <div class="forget-link"><a href="#">Forget password</a></div>
            </div>
            <div style="margin-top:20px" class="input-row">
                <label>
                    <input type="button" class="btn-input" id="btn-sign-up" value="Sign up" />
                </label>
                <input type="button" style="float:right;" class="btn-input" id="btn-login" value="Login" />
            </div>
        </div>
    </div>
    

</body>
</html>
